<%= button_to 'New Condominium', new_admins_condominium_path, :method => :get %>

<p id="notice"><%= notice %></p>

<h1>Your condominiuns</h1>

<% @condominia.each do |condominium| %>
<% if condominium.admin == current_admin %>

  <div class="condominia-list">
  
    <%= image_tag(condominium.avatar.thumb.url) %>

    <h3>Name</h3>
    <p><%= condominium.name %></p>

    <h3>Number proprieties</h3>
    <p><%= condominium.number_proprieties %></p>

    <h3>Address</h3>
    <p><%= condominium.address %></p>

    <h3 colspan="3"></h3>
    <p><%= button_to 'Show', admins_condominium_path(condominium), :method => :get %></p>
    <p><%= button_to 'Edit', edit_admins_condominium_path(condominium), :method => :get %></p>
    <p><%= button_to 'Destroy', admins_condominium_path(condominium), method: :delete, data: { confirm: 'Are you sure?' } %></p>

  </div>
<% end %>
<% end %>