<div class="container admin-show">
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col l6">
  <%= image_tag(@condominium.avatar.url) %>
</div>
  <div class="col l6">
<p>
  <strong>Name:</strong>
  <%= @condominium.name %>
</p>

<p>
  <strong>Number of proprieties:</strong>
  <%= @condominium.number_proprieties %>
</p>

<p>
  <strong>Address:</strong>
  <%= @condominium.address %>
</p>

<div class="row button-bottom">
  <div class="col s6">
<%= button_to 'Edit', edit_admins_condominium_path(@condominium),  class: "btn  cyan darken-4", :method => :get %>
</div>
  <div class="col s6">
<%= button_to 'Back', admins_condominia_path,  class: "btn cyan darken-4", :method => :get %>
</div>
<div class="col s6">
<%= button_to 'New Fee', new_admins_condominium_fee_path(@condominium),   class: "btn  cyan darken-4", :method => :get %>
</div>
  <div class="col s6">
</div>
  <div class="col s6">
<%= button_to 'Send Email(s)', admins_condominium_send_email_path(@condominium),   class: "btn  cyan darken-4", :method => :get %>
</div>
  <div class="col s6">
<%= button_to 'Chat', admins_condominium_messages_path(@condominium),   class: "btn  cyan darken-4", :method => :get %>
</div>

</div>
</div>
</div>
<p id="notice"><%= notice %></p>

<div class="container">

<form>
  <%= text_field_tag :term %>
  <%= button_to 'Search', class: "btn  cyan darken-4" %>
</form>

<form>
   <%= select_date(@my_date, start_year: Date.today.year - 100, end_year: Date.today.year + 5, order: [:month, :year], class: "datepicker") %>
  <%= button_to 'Search', class: "btn  cyan darken-4"%>
</form>

<h1>Fees <%= @my_date.strftime("%m / %Y") %></h1>

<table class="bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Installment</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <% value ||= 0 %>
  <tbody>    
    <% @fees.each do |fee| %>
      <tr>
        <td><%= fee.name %></td>
        <td><%= fee.description %></td>
        <% if fee.installment == 1 %>
        <% installment ||= 1 %>
        <% else %>
        <% installment ||= @my_date  %>
        <% end %>
        <td><%= installment %>  / <%= fee.installment  %></td>
        <td><%= fee.value %></td>

        <td><%= button_to 'Show', admins_condominium_fee_path(@condominium), class: "btn-small cyan darken-4", :method => :get %>
        <%= button_to 'Edit', edit_admins_condominium_fee_path(@condominium),   class: "btn-small  cyan darken-4", :method => :get %>
        <%= button_to 'Destroy', admins_condominium_fee_path(@condominium),   class: "btn-small  cyan darken-4", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        <% value += fee.value %>   
    <% end %>
  </tbody>
</table>
      <h2> Value per propriety <%= (value/@condominium.number_proprieties).round(2) %> </h2>
<br>
</div>

</div>
