<div class="container">
	
<%= provide(:title, 'Sign Up Resident') %>

  <form>
    <label>Add the resident by email</label>
    <%= text_field_tag :resident_mail %>
    <%= button_to 'Add', new_admins_condominium_resident_path(@condominium),class: "btn cyan darken-4" %>
  </form>
  
  <% if !@resident_by_email %>
  
  <h5> If the resident doesn't exist create an account to him </h5>
  <%= simple_form_for(@resident, :url => admins_condominium_residents_path(@condominium)) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn cyan darken-4" %>
  </div>

  <% end %>
  <% end %>

</div>