<div class="container">
  
<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @fee.value %>
</p>

<p>
  <strong>Installment:</strong>
  <%= @fee.installment %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fee.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fee.description %>
</p>

<%= link_to 'Edit', edit_admins_condominium_fee_path(@fee) %> |
<%= link_to 'Back', admins_condominium_path(@condominium) %>
</div>
