<h1>Editing Fee</h1>

<%= form_with(scope: :fee, url: [@condominium, @fee], local: true, method: :put) do |form| %>
  
  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :fee_value %>
  </div>

  <div class="field">
    <%= form.label :installment %>
    <%= form.number_field :installment, id: :fee_installment %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :fee_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :fee_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Show', @condominium_fees %> |
<%= link_to 'Back', condominia_path %>
