<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @fee.value %>
</p>

<p>
  <strong>Installment:</strong>
  <%= @fee.installment %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fee.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fee.description %>
</p>

<%= link_to 'Back', residents_dashboard_index_path %>
