
  <nav>
    <div class="nav-wrapper orange darken-1">
    <div style="margin-left: 10px;">
    <%=link_to "Mr.Condominia", root_path, class: "brand-logo"%>
    </div>
      
      <ul id="nav-mobile" class="right">
		

		<% if !current_admin and !current_resident %>        
        <li class="waves-effect waves-light btn btn-signup"><%= link_to "Sign Up as an Admin", new_admin_registration_path %></li>
        <% end %>


	<% if current_admin %>
<li>
  <a class='dropdown-button btn' data-activates='dropdown1'><%= current_admin.email %></a>
  <li>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><%= link_to('Dashboard', admins_condominia_path) %> </li>
    <li><%= link_to('Profile',  edit_admin_registration_path) %> </li>
    <li><%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>
  </ul>
  </li>
</li>
<% end %>

	<% if current_resident %>
<li>
  <a class='dropdown-button btn btn-resident' href='#' data-activates='dropdown1'><%= current_resident.email %></a>
  <li>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><%= link_to('Dashboard', residents_root_path) %></li>
    <li><%= link_to('Logout', destroy_resident_session_path, method: :delete) %></li>
  </ul>
  </li>
</li>
<% end %>
	
      </ul>
    </div>
  </nav>



